<button class="btn btn-primary float-end m-3" mat-raised-button (click)="openDialog()">
  Add Book
</button>
<ng-container *ngIf="books.length > 0; else noData">
  <table mat-table [dataSource]="books" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element?._id }}</td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element?.title }}</td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element?.description }}</td>
    </ng-container>

    <!-- image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="image + '/' + element.image" width="50px" />
      </td>
    </ng-container>
    <!-- authorid Column -->
    <ng-container matColumnDef="authorId">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.authorId?.firstName + " " + element?.authorId?.lastName }}
      </td>
    </ng-container>
    <!-- categoryid Column -->
    <ng-container matColumnDef="categoryId">
      <th mat-header-cell *matHeaderCellDef>CategoryId</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.categoryId?.name }}
      </td>
    </ng-container>
    <!-- reviewid Column -->
    <ng-container matColumnDef="reviewId">
      <th mat-header-cell *matHeaderCellDef>ReviewId</th>
      <td mat-cell *matCellDef="let element">{{ element?.reviewId }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-danger" (click)="deleteBook(element._id)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
<ng-template #noData> no books to show </ng-template>