<button
  class="btn btn-primary float-end m-3"
  mat-raised-button
  (click)="openDialog()"
>
  Add Author
</button>
<table mat-table [dataSource]="authors" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID.</th>
    <td mat-cell *matCellDef="let element">{{ element._id }}</td>
  </ng-container>

  <!-- photo Column -->
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>Photo</th>
    <td mat-cell *matCellDef="let element">{{ element.photo }}</td>
  </ng-container>

  <!-- FName Column -->
  <ng-container matColumnDef="fname">
    <th mat-header-cell *matHeaderCellDef>FirstName</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <!-- LName Column -->
  <ng-container matColumnDef="lname">
    <th mat-header-cell *matHeaderCellDef>LastName</th>
    <td mat-cell *matCellDef="let element">{{ element.LastName }}</td>
  </ng-container>

  <!-- bDate Column -->
  <ng-container matColumnDef="bdate">
    <th mat-header-cell *matHeaderCellDef>Date of birth</th>
    <td mat-cell *matCellDef="let element">{{ element.birthDate }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-danger" (click)="deleteAuthor(element._id)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
