<h1 mat-dialog-title>Add Author :</h1>
<div mat-dialog-content>
  <p>Enter author name</p>
  <form [formGroup]="authorForm">
    <mat-form-field appearance="fill" class="me-2">
      <mat-label>First Name:</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter first name here..."
        formControlName="firstName"
      />
      <mat-error
        *ngIf="
          authorForm.get('firstName')?.invalid &&
          authorForm.get('firstName')?.touched
        "
        >First Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Mame:</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter last Name here..."
        formControlName="lastName"
      />
      <mat-error
        *ngIf="
          authorForm.get('lastName')?.invalid &&
          authorForm.get('lastName')?.touched
        "
        >Last Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="me-2">
      <mat-label>birth Date:</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter date here..."
        formControlName="birthDate"
      />
      <mat-error
        *ngIf="
          authorForm.get('birthDate')?.invalid &&
          authorForm.get('birthDate')?.touched
        "
        >birth Date is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>photo :</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter photo here..."
        formControlName="photo"
      />
      <mat-error
        *ngIf="
          authorForm.get('photo')?.invalid && authorForm.get('photo')?.touched
        "
        >Photo is required</mat-error
      >
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      class="btn btn-light border me-2"
      [disabled]="authorForm.invalid"
      (click)="saveData()"
    >
      Save
    </button>
    <button mat-button class="btn btn-light border" (click)="closeDialog()">
      Cancel
    </button>
  </div>
</div>
