<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/logo.svg" alt="bookstore logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-4" style="color:aliceblue;text-align: center;">Applications</h2>
  <mat-list-item><a routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>
      Home</a></mat-list-item>
  <mat-list-item><a routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>
      Dashboard</a></mat-list-item>
  <mat-list-item><a routerLink="/category" routerLinkActive="list-item-active"><mat-icon>category</mat-icon>
      Categories</a></mat-list-item>
  <mat-list-item><a routerLink="/authors" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>
      Authors</a></mat-list-item>
  <mat-list-item><a><mat-icon>edit</mat-icon>
      Edit</a></mat-list-item>

</mat-nav-list>