<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/newLogo.jpg" alt="bookstore logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-4" style="color: aliceblue; text-align: center">
    Good Reads
  </h2>
  <div class="content">
    <a
      class="content-anhor"
      routerLinkActive="list-item-active"
      routerLink="/dashboard"
      ><mat-icon>dashboard</mat-icon> Dashboard</a
    >
    <a
      class="content-anhor"
      routerLink="/category"
      routerLinkActive="list-item-active"
      ><mat-icon>category</mat-icon> Categories</a
    >
    <a
      class="content-anhor"
      routerLink="/authors"
      routerLinkActive="list-item-active"
      ><mat-icon>edit</mat-icon> Authors</a
    >
    <a
      class="content-anhor"
      routerLink="/books"
      routerLinkActive="list-item-active"
      ><mat-icon>edit</mat-icon> Books</a
    >
  </div>
</mat-nav-list>
